/* You can add global styles to this file, and also import other style files */
body{
    background: #02aab0; /*fallback for od browsers*/
    background: -webkit-linear-gradient(left, #1576A8, #1576A8);
    background: -moz-linear-gradient(left, #1576A8, #1576A8);
    background: -o-linear-gradient(left, #1576A8, #1576A8);
    background: linear-gradient(to right, #1576A8, #1576A8);
}